.header-hero {
  height: 850px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .header-hero {
    height: 650px;
  }
}

.header-hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background: -webkit-linear-gradient(rgba(232, 237, 255, -0.2), rgba(239, 254, 255, 0.8) 54%, rgba(254, 255, 244, 0.4) 62%, rgba(255, 255, 255, 0.12));
  background: -o-linear-gradient(rgba(232, 237, 255, -0.2), rgba(239, 254, 255, 0.8) 54%, rgba(254, 255, 244, 0.4) 62%, rgba(255, 255, 255, 0.12));
  background: linear-gradient(rgba(232, 237, 255, -0.2), rgba(239, 254, 255, 0.8) 54%, rgba(254, 255, 244, 0.4) 62%, rgba(255, 255, 255, 0.12));
}

.header-hero .header-content {
  padding-top: 162px;
  position: relative;
  z-index: 9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero .header-content {
    padding-top: 130px;
  }
}

@media (max-width: 767px) {
  .header-hero .header-content {
    padding-top: 120px;
  }
}

.header-hero .header-content .header-title {
  font-size: 31px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}

@media (max-width: 767px) {
  .header-hero .header-content .header-title {
    font-size: 30px;
    line-height: 40px;
  }
}

.header-hero .header-content .text {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .header-hero .header-content .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.header-hero .header-content .header-btn {
  margin-top: 22px;
}

.header-hero .header-content .header-btn li {
  display: inline-block;
  margin: 10px 10px 0;
}

.header-hero .header-content .header-btn li a.main-btn {
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  line-height: 50px;
}

.header-hero .header-content .header-btn li a.main-btn i {
  margin-left: 5px;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one {
  color: #fff;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(left, #0067f4, #2bdbdc);
  background-image: -o-linear-gradient(left, #0067f4, #2bdbdc);
  background-image: linear-gradient(to right, #0067f4, #2bdbdc);
  background-position: right center;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one:hover::before {
  background-image: -webkit-linear-gradient(right, #0067f4, #2bdbdc);
  background-image: -o-linear-gradient(right, #0067f4, #2bdbdc);
  background-image: linear-gradient(to left, #0067f4, #2bdbdc);
  background-position: left center;
  -webkit-transition: all none ease-out 0s;
  -moz-transition: all none ease-out 0s;
  -ms-transition: all none ease-out 0s;
  -o-transition: all none ease-out 0s;
  transition: all none ease-out 0s;
}

.header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
  -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
}

.header-hero .header-shape {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header-hero .header-shape img {
  width: 100%;
}



#typed {
  position: absolute;
  z-index: 3;
  color: blue;
  padding-bottom: 50px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  #typed {
    font-size: 30px;
    padding-top: 50px;

  }

  .video-basic {
    padding-top: 260px;
  }
  .video-basic .image-container img {
  max-width: 55%;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  #typed {
    font-size: 30px;
      padding-top: 55px;

  }
  .video-basic {
    padding-top: 260px;
  }
   .video-basic .image-container img {
  max-width: 55%;
}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #typed {
    font-size: 30px;
          padding-top: 55px;

  }
  .video-basic {
    padding-top: 182px;
  }
   .video-basic .image-container img {
  max-width: 50%;
}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  #typed {
    font-size: 30px;
          padding-top: 55px;

  }
  .video-basic {
    padding-top: 140px;
  }
   .video-basic .image-container img {
  max-width: 50%;
}

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #typed {
    font-size: 28px;
          padding-top: 55px;

  }
  .video-basic {
    padding-top: 200px;
  }
   .video-basic .image-container img {
  max-width: 50%;
}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #typed {
    font-size: 20px;
          padding-top: 55px;

  }
  .video-basic {
    padding-top: 152px;
  }
   .video-basic .image-container img {
  max-width: 50%;
}

}









/*********************/
/*     12. Video     */
/*********************/
.video-basic {
  position: relative;
  z-index: 2;
}

.video-basic h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.video-basic .image-container {
  margin-bottom: 2.25rem;
}

.video-basic .image-container img {
  border-radius: 0.5rem;
}

.video-basic .video-wrapper {
  position: relative;
}

/* Video Play Button */
.video-basic .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  height: 2.75rem;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-basic .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 50%;
  background: #00bfd8;
  animation: pulse-border 1500ms ease-out infinite;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-basic .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background: #00bfd8;
  transition: all 200ms;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-basic .video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem;
  left: 0.25rem;
  width: 0;
  height: 0;
  border-left: 1.625rem solid #fff;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* end of video play button */

.video-basic p {
  text-align: center;
}
