<header class="header-area">

  <div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/header-bg.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">

          <div class="header-content text-center">
            <h4 class="header-title">Un garagiste professionnel vous accompagne pour l'achat de votre futur véhicule
              d'occasion</h4>
            <ul class="header-btn">
              <li><a class="main-btn btn-one" href="#">C'est parti</a></li>
            </ul>
          </div> <!-- header content -->
        </div>
      </div> <!-- row -->
      <div class="row justify-content-center">
        <span id="typed"></span>
      </div>
    </div> <!-- container -->

    <div class="video-basic text-center">
      <div class="image-container">
        <div class="video-wrapper">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn">
            <img class="" src="assets/images/image_4.jpg" alt="alternative">
            <span class="video-play-button">
              <span></span>
            </span>
          </a>
        </div> <!-- end of video-wrapper -->
      </div> <!-- end of image-container -->
    </div>
    <div class="header-shape">
      <img src="assets/images/header-shape.svg" alt="shape">
    </div>

  </div> <!-- header content -->
</header>