<header class="header-area">

  <div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/header-bg.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">

          <div class="header-content text-center">
            <h4 class="header-title">Un garagiste professionnel vous accompagne pour l'achat de votre futur véhicule
              d'occasion</h4>
            <div *ngIf="showRegistration" class="mt-4">
              <div class="row justify-content-center">
                <mat-form-field class="email " appearance="outline">
                  <mat-label>Votre email</mat-label>
                  <input type="email" matInput placeholder="Votre email" [formControl]="emailFormControl">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-hint style="color: green">Béneficier de -25% de réduction sur votre 1er garagiste</mat-hint>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    <i class="fas fa-info-circle mr-2"></i>Email <strong>obligatoire</strong>
                  </mat-error>
                  <mat-error *ngIf="!emailFormControl.hasError('required') && emailFormControl.hasError('pattern')">
                    <i class="fas fa-info-circle mr-2"></i>Email <strong>non valide</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row justify-content-center mt-2">
                <button (click)="register()" *ngIf="!emailFormControl.hasError('required') && !emailFormControl.hasError('pattern')"
                  mat-raised-button color="primary">C'est parti <i class="ml-1 material-icons">
                    directions_car
                  </i></button>
              </div>
            </div>
            <div *ngIf="!showRegistration" class="mt-4">
              <h6 style="color:green">Bravo, votre réduction de -25% a bien été enregistrée chez Zenokaz ! On reviendra vers vous une fois notre plateforme lancée.  </h6>
            </div>

          </div> <!-- header content -->
        </div>
      </div> <!-- row -->
      <div class="row justify-content-center">
        <span id="typed"></span>
      </div>
    </div> <!-- container -->

    <div class="video-basic text-center">
      <div class="image-container">
        <div class="video-wrapper">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn">
            <img class="" src="assets/images/image_4.jpg" alt="alternative">
            <span class="video-play-button">
              <span></span>
            </span>
          </a>
        </div> <!-- end of video-wrapper -->
      </div> <!-- end of image-container -->
    </div>
    <div class="header-shape">
      <img src="assets/images/header-shape.svg" alt="shape">
    </div>

  </div> <!-- header content -->
</header>