p {
  color: rgb(66, 81, 194);
}

.img-fluid {
  width: 75%;
}

/*===========================
      3.SERVICES css 
===========================*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .services-area {
    padding-bottom: 120px;
    padding-top: 200px;
    position: relative;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .services-area {
    padding-bottom: 120px;
    padding-top: 200px;
    position: relative;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .services-area {
    padding-bottom: 120px;

    padding-top: 163px;
    position: relative;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .services-area {
    padding-bottom: 120px;
    padding-top: 55px;

    position: relative;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .services-area {
    padding-bottom: 120px;
    padding-top: 55px;

    position: relative;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .services-area {
    padding-bottom: 120px;
    padding-top: 55px;
    position: relative;
  }

}


.services-content .services-icon i {
  font-size: 64px;
  color: #0067f4;
}

.services-content .services-content {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .services-content .services-content {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-content .services-content {
    padding-left: 15px;
    padding-top: 0;
  }
}

.services-content .services-content .services-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #121212;
}

.services-content .services-content .text {
  font-size: 14px;
  line-height: 20px;
  color: #121212;
  margin-top: 8px;
}

.services-image {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .services-image {
    width: 34%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-image {
    position: relative;
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .services-image {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-image {
    position: relative;
    width: 540px;
    margin: 0 auto;
  }
}

.services-image .image {
  max-width: 580px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-image .image {
    margin: 0 auto;
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .services-image .image {
    margin: 0 auto;
    padding-top: 50px;
  }
}

.services-image .image img {
  width: 100%;
}





.details {
  padding-top: 85px;
}

/*************************/
/*     07. Details 1     */
/*************************/
.basic-1 {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.basic-1 .text-container {
  margin-bottom: 4rem;
}

.basic-1 h2 {
  margin-bottom: 1.375rem;
}

.basic-1 .btn-solid-reg {
  margin-top: 0.625rem;
}


/*************************/
/*     08. Details 2     */
/*************************/
.basic-2 {
  padding-top: 1.75rem;
}

.basic-2 .image-container {
  margin-bottom: 4rem;
}

.basic-2 h2 {
  margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .fas {
  color: #00bfd8;
  line-height: 1.375rem;
}

.basic-2 .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.basic-2 .btn-solid-reg {
  margin-top: 0.625rem;
}


/*************************/
/*     07. Details 3    */
/*************************/
.basic-3 {
  padding-top: 0.75rem;
  padding-bottom: 3.75rem;
}

.basic-3 .text-container {
  margin-bottom: 4rem;
}

.basic-3 h2 {
  margin-bottom: 1.375rem;
}

.basic-3 .btn-solid-reg {
  margin-top: 0.625rem;
}
