<section id="service" class="services-area">
    <div class="container ml-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-map"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Déplacement sur place</h4>
                                <p class="text">L’accompagnant se déplace au lieu de la vente du véhicule.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-car"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Essai du vé​hicule</h4>
                                <p class="text">Essai sur place du véhicule pour un diagnostique complet.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-library"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Soutient administratif</h4>
                                <p class="text">Accédez au guide pour maitriser les étapes administratives</p>
                            </div>
                        </div> <!-- services content -->
                    </div>

                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-stats-down"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Risques réduits</h4>
                                <p class="text">Réduisez le risque de vices cachés.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-euro"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Estimation des frais</h4>
                                <p class="text">Estimation des frais à prévoir.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-handshake"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Négociez mieux</h4>
                                <p class="text">Demandez une remise au vendeur pour les frais à prévoir</p>
                            </div>
                        </div> <!-- services content -->
                    </div>

                </div> <!-- row -->
            </div> <!-- row -->
        </div> <!-- row -->
    </div> <!-- conteiner -->
    <div class="services-image d-lg-flex align-items-center">
        <div class="image">
            <img src="assets/images/services.png" alt="Services">
        </div>
    </div> <!-- services image -->
</section>

<section class="ftco-section ftco-counter img" id="section-counter"
    style="background-image: url(assets/images/road-clouds.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <i class="fas fa-wrench fa-2x"></i>
                                <h3 class="timer count-title count-number" data-to="500" data-speed="3500"></h3>
                                <span>garagistes certfiés à proximité</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <i class="fas fa-euro-sign fa-2x"></i>
                                <h3 class="timer count-title count-number" data-to="69" data-speed="3500"></h3>
                                <span>euros l'accompagnement</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <i class="fas fa-file-alt fa-2x"></i>
                                <h3 class="timer count-title count-number" data-to="1" data-speed="3500"></h3>
                                <span>Raport détaillé de votre futur voiture</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="details">
    <!-- Details 1 -->
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Facilitez-vous la vie</h2>
                        <p>Réservation en ligne, l’accompagnant se déplace au lieu de rendez vous.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/details-1-office-worker.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/details-2-office-team-work.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Restez serein</h2>
                        <p>ZENOKAZ fournit les meilleurs profils, certifiés et contrôlés.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Facilitez-vous la vie</h2>
                        <p>Réservation en ligne, l’accompagnant se déplace au lieu de rendez vous.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/details-1-office-worker.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

</section>

<!--====== CALL TO ACTION PART START ======-->

<section id="call-to-action" class="call-to-action">
    <div class="call-action-image">
        <img src="assets/images/call-to-action.png" alt="call-to-action">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h2 class="call-title">Curious to Learn More? Stay Tuned</h2>
                    <p class="text">You let us know whenever you want us to update anything or think something can be
                        optimised.</p>
                    <div class="call-newsletter">
                        <i class="lni-envelope"></i>
                        <input type="text" placeholder="alice@gmail.com" [formControl]="emailFormControl">
                        <button (click)="register()" type="submit">SUBSCRIBE</button>
                    </div>
                    <span *ngIf="message">{{message}}</span>
                </div> <!-- slider-content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== CALL TO ACTION PART ENDS ======-->